.virtual-container {
  background: #f4f4f4;
  margin-bottom: 0px;
}
.virtual-sub-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.virtual-sub-container img {
  width: 100%;
  cursor: pointer;
}
.virtual-text-container {
  position: absolute;
  top: 0;
  right: 0;
}
.talk-desgin {
  font-size: 26px;
}
.book-virtual-cons {
  font-size: 38px;
  padding: 15px 0px;
}

.book-now a {
  font-size: 20px;
  color: #b4975a;
  text-decoration: none;
}
.book-now a:hover {
  text-decoration: underline;
}
