.services-container {
  margin-top: 130px;
  font-size: 1.5rem;
  padding-top: 160px;
}
.prod-text {
  width: 50%;
  padding-left: 150px;
  text-align: left;
}
.prod-text1 {
  width: 50%;
  padding-left: 150px;
  margin: 0 auto;
}
