.hero-container {
  margin: 0;
  padding: 0;
}

.font-italic-txt {
  font-style: italic;
  font-size: 1.25rem;
  padding-bottom: 20px;
}
.home-txt {
  font-size: 1rem;
}

.nameBox {
  padding-top: 15px;
}
