@font-face {
  font-family: "courierprimebold";
  src: url("courier-fonts/CourierPrime-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "courierprimeregular";
  src: url("courier-fonts/CourierPrime-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "courierprimeitalic";
  src: url("courier-fonts/CourierPrime-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "courierprimebolditalic";
  src: url("courier-fonts/CourierPrime-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
