.careers-section {
  width: 100%;
  margin: 0 auto;
}
.font-italic-txt {
  font-style: italic;
  font-size: 1.25rem;
  padding-bottom: 20px;
}
.home-txt {
  font-size: 1rem;
}
.have-fun {
  display: flex;
  margin-top: 30px;
}
.have-fun-img {
  width: 60%;
}
.have-fun-txt {
  width: 40%;
  padding-top: 110px;
  padding-left: 20px;
  font-size: 1.5rem;
}
.have-fun-viewall {
  text-align: right;
}

.leaderList {
  display: flex;
  flex-wrap: wrap;
}

.opening-links {
  display: flex;
  justify-content: space-between;
}
.careers-section ul {
  margin-left: 10px;
  width: 80%;
}
.careers-section ul.careers-lists li {
  background: url("../../../public/assets/images/Bullet_point.png") no-repeat;
  background-size: 65px 40px;
  padding: 5px 24px;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.careers-section ul.careers-lists li:hover,
.careers-section ul.careers-lists li a:hover {
  color: #000;
}
.careers-section ul li:last-child {
  border-bottom: none;
}
.nameBox {
  padding-top: 15px;
}
.apply-job {
  color: #001dd6;
  margin-top: 10px;
  text-decoration: underline;
}
.careers-lists-section {
  width: 80%;
  margin: 0 auto;
}

/* Mobile Device */
@media (max-width: 1200px) {
  .careers-lists-section {
    width: 96%;
  }
  .have-fun {
    display: block;
  }
  .have-fun-txt {
    width: 100%;
    padding-top: 0px;
  }
  .have-fun-img {
    width: 100%;
    margin: 30px 0px;
  }
  .opening-links {
    display: block;
    width: 97%;
  }
  .have-fun-viewall {
    margin-top: 10px;
  }
  .have-fun-viewall img {
    width: 140px;
  }
  .career-apply-img {
    width: 150px;
    height: 90px;
  }
  .careers-section ul {
    width: 100%;
    margin-left: 0px;
  }
  .careers-section ul.careers-lists li {
    padding: 8px 0px 5px 32px;
  }
}
