.catalouge {
  background-color: #fff;
  padding: 0 0px;
}
.catalouge .title {
  padding: 30px 0px 20px;
  background-color: #f7f7f7;
}
.catalouge .grid {
  display: block;
  border: none;
  height: 670px;
  padding: 0px;
  text-decoration: none;
  position: relative;

  /*-webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);*/
}

.catalouge .carousel-inner .carousel-item,
.catalouge .grid .prod-imgs {
  height: 560px;
  overflow: hidden;
  background-color: #f2f4ee;
  display: flex;
  place-items: center;
}

.catalouge .grid .carousel-item img,
.catalouge .grid .prod-imgs img {
  display: block;
  max-width: 100%;
  height: inherit;
  width: 99%;
  position: relative;
  object-fit: contain;
  margin: 0 auto;
}
.catalouge .grid img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.7s ease all;
  -webkit-transition: 0.7s ease all;
  -moz-transition: 0.7s ease all;
}

.catalouge .grid img:hover {
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.catalouge .article-name {
  text-transform: uppercase;
  color: #545454;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 20px 0px 10px;
  justify-content: space-between;
  text-align: center;
}
.catalouge .article-name .prod-title {
  font-family: graphikmedium;
}
.catalouge .prod-descriptions {
  background-color: #fff;
}
.catalouge .article-date {
  font-size: 12px;
  color: #545454;
  opacity: 0.7;
  padding-bottom: 10px;
  justify-content: space-between;
  text-align: center;
}
.catalouge .caption {
  display: none;
}
.catalouge .grid:hover .caption {
  display: block;
}
.catalouge .caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: showModel 1s ease-in-out forwards;
}
.catalouge .caption-text {
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}

.catalouge .title-sub-txt {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 29px;
  text-align: center;
  color: #716c6c;
  margin-bottom: 20px;
  margin-top: 12px;
  opacity: 0.9;
}
.view-details-btn {
  height: 40px;
  width: 140px;
  border-radius: 0px;
  background-color: #c0953e;
  color: #fff;
  border: none;
  font-size: 14px;
  letter-spacing: 0.23px;
  line-height: 15px;
  text-align: center;
  outline: none;
  font-family: graphikmedium;
  display: flex;
  place-items: center;
  justify-content: center;
}
.view-details-btn:hover {
  opacity: 0.8;
  color: #fff;
}
.grid svg {
  position: absolute;
  top: 20px;
  right: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  background-color: rgb(73, 72, 72);
  border-radius: 100%;
  background-size: 12px;
}
.catalouge .carousel-control-prev,
.catalouge .carousel-control-next {
  width: 5%;
}
.catalouge .carousel-control-prev-icon,
.catalouge .carousel-control-next-icon {
  font-size: 20px;
  color: #333;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
  background: no-repeat;
}
.catalouge .carousel-control-next-icon:after {
  content: "\e825";
}
.catalouge .carousel-control-prev-icon:after {
  content: "\e824";
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000;
}
@media (max-width: 767px) {
  .catalouge {
    background-color: #fff;
    padding: 0 0px;
  }
}
