.flex {
  display: flex;
}
.hero-container,
.think-big-container,
.leadership-container {
  margin-bottom: 100px;
}
.hero-container .hero-img {
  width: 50%;
  margin-top: 152px;
}
.hero-container .hero-img img {
  width: 100%;
  height: 100%;
}
.hero-container .hero-txt {
  width: 50%;
  padding-top: 196px;
}
.hero-container .hero-title {
  font-size: 1.75rem;
  letter-spacing: 0px;
  color: #111111;
  width: 75%;
}
.hero-container .hero-description {
  font-size: 1.1rem;
  letter-spacing: 0px;
  color: #000000;
  line-height: 2.5;
}
.think-big-txt ul {
  width: 80%;
  padding: 0;
  margin: 20px auto;
}
.think-big-txt ul li {
  background: url("../../../public/assets/images/Bullet_point.png") 0px 0px
    no-repeat;
  padding: 8px 5px 5px;
  list-style: none;
  font-size: 1.5rem;
  padding-left: 32px;
  background-size: 94px;
}
.leadership {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.picture img {
  border: 12px solid #d9d6c7;
  border-radius: 50%;

  width: 328px;
  height: 328px;
  margin: 0 auto;
}
.name {
  font-size: 1.75rem;
  font-family: courierprimebold;
  margin-top: 10px;
}
.think-big-img {
  width: 100%;
}
.think-big-img img {
  width: 100%;
  height: 100%;
}
.posting {
  padding: 10px 0px 20px;
}
.description {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
.leadership1 {
  background: url("../../../public/assets/images/Leadership1.png") 0px 0px
    no-repeat;
  width: 386px;
  height: 598px;
  text-align: center;
  padding: 20px;
}
.leadership2 {
  background: url("../../../public/assets/images/Leadership2.png") 0px 0px
    no-repeat;
  width: 386px;
  height: 598px;
  text-align: center;
  padding: 20px;
}
.leadership3 {
  background: url("../../../public/assets/images/Leadership3.png") 0px 0px
    no-repeat;
  width: 386px;
  height: 598px;
  text-align: center;
  padding: 20px;
}
.leadership-img {
  padding-left: 30px;
}
/* Mobile Device */
@media (max-width: 1200px) {
  .hero-container .hero-txt {
    width: 100%;
    padding-top: 126px;
  }
  .hero-container .hero-title {
    width: 100%;
  }
  .hero-container .hero-img {
    width: 100%;
    margin-top: 120px;
  }
  .hero-container img {
    width: 100%;
    height: 100%;
  }
}
