.about .banner {
  width: 100%;
}
.about-txt {
  font-size: 1rem;
  margin: 40px 20px;
  font-family: "graphikregular";
}
.hero-container {
  text-align: center;
}
.founder-txt {
  font-family: "graphikextralight";
  letter-spacing: 2px;
}
.divider-img1 {
  width: 70%;
  margin-top: 20px;
}
.divider-img2 {
  width: 30%;
}
.divider-img3 {
  width: 50%;
}
.divider-txt3 {
  font-family: "graphikextralight";
  width: 40%;
  margin: 0 auto;
}
.about.title {
  border-bottom: 1px dotted #f4f4f2;
}
.padding0 {
  padding: 0;
}
.vertical-center {
  place-items: center;
  display: flex;
}
.img-hide-md,
.img-hide-lg {
  display: none;
}

@media (max-width: 1199px) {
  .about-txt {
    margin: 20px 20px;
  }
  .founder-txt {
    margin: 20px 0px;
  }
  .img-hide-md {
    display: block;
  }
}
@media (min-width: 1200px) {
  .img-hide-lg {
    display: block;
  }
}
