.hero-container {
  margin: 0;
  padding: 0;
}
.hero-container img {
  height: 400px;
}
.font-italic-txt {
  font-style: italic;
  font-size: 2.25rem;
  padding-bottom: 20px;
}
.home-txt {
  font-size: 1rem;
}

/* Mobile Device */
@media (max-width: 767px) {
  .hero-container img {
    height: 150px;
  }
}
