.leadership-container {
  margin-bottom: 50px;
  margin-top: 50px;
}
.leadership-img {
  padding-left: 30px;
}
.leadership {
  text-align: center;
  padding: 20px;
  display: flex;
}
.description {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
