.contact-us {
  background-color: #f5f5f5;
  margin-top: 90px;
}
.contact-us .banner {
  width: 100%;
}

.fields {
  width: 100%;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: #c2c2c2 1px solid;
  box-shadow: rgb(100 100 111 / 14%) 0px 7px 29px 0px;
  font-size: 14px;
}

.contact-us-txt {
  width: 100%;
  margin: 0 auto;
  font-family: "graphikregular";
  text-align: left;
}
.bold {
  font-family: graphikmedium;
}
.upperCase {
  text-transform: uppercase;
}
.contactNumber svg {
  margin-right: 10px;
}
.contactNumber .text-right {
  margin-bottom: 10px;
}
.text-right {
  text-align: right;
}
.our-store {
  margin-bottom: 10px;
}
.contact-us-txt .fields {
  width: 100%;
}
.map-container {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}
.map-container iframe {
  height: 770px;
}

@media (max-width: 1200px) {
  .contact-us-txt,
  .fields {
    width: 100%;
  }
  .fields {
    padding: 25px 15px;
  }
  .contactNumber {
    margin-top: 10px;
  }
  .fields .container-fluid {
    padding: 0px;
  }
  .map-container iframe {
    height: 320px;
  }
}
