.pdp {
  background-color: #fff;
  width: 96%;
  margin: 0 auto;
}
.descriptions-sections {
  text-align: left;
}
.descriptions-title {
  margin-bottom: 15px;
  font-size: 16px;
}
.descriptions-sub-text {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 20px;
  color: #656161;
}
.descriptions-sub-text span.heading {
  font-family: graphikmedium;
}
.right-side .prod-title {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: left;
  padding: 0px 0px 0px;
  color: #716c6c;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.right-side .prod-sub-title {
  margin-bottom: 20px;
  font-size: 13px;
  color: #656161;
}
.pdp .image-gallery-left-nav .image-gallery-svg,
.pdp .image-gallery-right-nav .image-gallery-svg {
  height: 60px;
  width: 30px;
}
.pdp .view-details-btn {
  width: 100%;
  height: 50px;
  margin: 0 auto 20px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pdp .title-sub-txt {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 29px;
  text-align: center;
  color: #514d4d;
  margin-bottom: 30px;
}
.image-gallery-slide img {
  width: 100%;
  height: 500px;
}
.image-gallery-content.fullscreen .image-gallery-slide img {
  height: auto;
}
.left-side,
.right-side {
  display: block;
  text-decoration: none;
  background-color: #fff;
  position: relative;
}
.Gallery-View,
.three-View {
  display: none;
  font-family: graphikmedium;
  position: absolute;
  top: 30px;
  left: 10px;
  border: none;
  border-radius: 3px;
  background-color: #f4f7fa;
  color: #000;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

.left-side {
  display: block;
  background-color: #f2f4ee;
}
.left-side-1 {
  position: relative;
  background-color: #fff;
}
.left-side-1 iframe {
  height: 600px;
}
.right-side {
  width: 70%;
  margin: 0 auto;
}

.help-question span.have-question {
  font-family: graphikmedium;
  margin-bottom: 0px;
  display: block;
}
.help-question a {
  color: #118bf4;
  white-space: nowrap;
}
.email,
.call {
  display: flex;
  margin-bottom: 20px;
}
.email svg,
.call svg {
  margin: 0px 10px 0px 20px;
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  border: 1px solid #ccc;
}
.nav-item .nav-link {
  color: #656161;
}
@media (max-width: 767px) {
  .pdp {
    width: 100%;
  }
  .right-side {
    width: 100%;
    margin-top: 30px;
  }
  .image-gallery-slide img {
    height: 500px;
  }
  .left-side-1 iframe {
    height: 500px;
  }
}
