.hero-container {
  margin: 0;
  padding: 0;
}
.hero-container img {
  height: 400px;
}
.font-italic-txt {
  font-style: italic;
  font-size: 1.25rem;
  padding-bottom: 20px;
}
.home-txt {
  font-size: 1rem;
}

/* Mobile Device */
@media (max-width: 767px) {
  .hero-container img {
    height: 150px;
  }
}
.leaderList {
  display: flex;
  flex-wrap: wrap;
}
.leaderItemBox {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  margin: 10px 15px 15px 50px;
  background: #fff;
}
.leaderItemBox div img {
  width:315px;
  height:250px;
  background-color: darkgray;
}
.nameBox {
  padding-top: 15px;
}
